<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="windows-1256">
<title>Insert title here</title>
<script src="app\lib\angular.min.js"></script>
<script src="app\app.js"></script>
</head>
<body ng-controller="ContactController">

<input ng-model="newContact.firstName" type="text" name="firstName">
<input ng-model="newContact.lastName" type="text" name="lastName">
<input ng-model="newContact.mobileNumber" type="text" name="mobileNumber">
<input ng-model="newContact.homeNumber" type="text" name="homeNumber">
<input type="button" value="add" ng-click="addContact()">


<div id="demo">
{{xx}}
</div>



</body>
</html>